<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @real_estate_owner.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @real_estate_owner.lastname %>
</p>

<p>
  <strong>Secondlastname:</strong>
  <%= @real_estate_owner.secondlastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @real_estate_owner.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @real_estate_owner.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @real_estate_owner.email %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @real_estate_owner.bank_account %>
</p>

<p>
  <strong>Clabe:</strong>
  <%= @real_estate_owner.clabe %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @real_estate_owner.bank_name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @real_estate_owner.notes %>
</p>

<%= link_to 'Edit', edit_real_estate_owner_path(@real_estate_owner) %> |
<%= link_to 'Back', real_estate_owners_path %>
