<p id="notice"><%= notice %></p>

<p>
  <strong>Fiscal person:</strong>
  <%= @billing_datum.fiscal_person %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @billing_datum.rfc %>
</p>

<p>
  <strong>Fiscal name:</strong>
  <%= @billing_datum.fiscal_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @billing_datum.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @billing_datum.address2 %>
</p>

<p>
  <strong>Neiborghood:</strong>
  <%= @billing_datum.neiborghood %>
</p>

<p>
  <strong>County:</strong>
  <%= @billing_datum.county %>
</p>

<p>
  <strong>:</strong>
  <%= @billing_datum. %>
</p>

<p>
  <strong>Country:</strong>
  <%= @billing_datum.country_id %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @billing_datum.zipcode %>
</p>

<%= link_to 'Edit', edit_billing_datum_path(@billing_datum) %> |
<%= link_to 'Back', billing_data_path %>
