<p id="notice"><%= notice %></p>

<p>
  <strong>Payment order:</strong>
  <%= @payment.payment_order_id %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @payment.payment_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @payment.reference %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @payment.uuid %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
