<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @payment_order.contract_id %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @payment_order.payment_date %>
</p>

<p>
  <strong>Payment planned:</strong>
  <%= @payment_order.payment_planned %>
</p>

<p>
  <strong>Receipt:</strong>
  <%= @payment_order.receipt %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment_order.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment_order.amount %>
</p>

<%= link_to 'Edit', edit_payment_order_path(@payment_order) %> |
<%= link_to 'Back', payment_orders_path %>
